@tailwind base;
@tailwind components;
@tailwind utilities;

button {
	min-width: 120px;
	margin-bottom: 8px;
}

button > svg {
	margin-right: 5px;
}

.open-accordion {
	height: 88px;
	transition: 0.3s;
}

.close-accordion {
	height: 0;
	transition: 0.3s;
}

.expanded {
	animation: 0.25s ease-in-out forwards expand;
	transform-origin: 50% 0%;
}
@keyframes expand {
	0% {
		transform: scaleY(0);
	}

	100% {
		transform: scaleY(1);
	}
}

.collapsed {
	animation: 0.25s ease-in-out forwards collapse;
	transform-origin: 50% 0%;
}
@keyframes collapse {
	0% {
		transform: scaleY(1);
	}

	100% {
		transform: scaleY(0);
	}
}

.expanded-icon {
	transform: rotate(-180deg);
	transition-duration: 300ms;
}

.collapsed-icon {
	transition-duration: 300ms;
}
