@tailwind base;
@tailwind components;
@tailwind utilities;

button > svg {
	margin-right: 5px;
}

.expanded {
	transform: rotate(90deg);
	transition-duration: 150ms;
}

.collapsed {
	transition-duration: 150ms;
}
